# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
# VS Code 설정(.vscode/launch.json, .vscode/tasks.json)을 팀과 공유하려면 주석 처리된 상태를 유지한다.
#.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.pub-cache/
.pub/
build/
**/doc/api/

# Android
android/local.properties
android/key.properties
*.jks
*.keystore

# iOS
**/ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Runner/GeneratedPluginRegistrant.*
ios/Flutter/ephemeral_plugin_symlinks/

# Linux
linux/flutter/ephemeral/
linux/flutter/ephemeral_plugin_symlinks/

# macOS
macos/Flutter/ephemeral/
macos/Flutter/ephemeral_plugin_symlinks/

# Windows
windows/flutter/ephemeral/
windows/flutter/ephemeral_plugin_symlinks/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json